Source: ud
Section: admin
Priority: extra
Maintainer: Luca Filipozzi <lfilipoz@debian.org>
Build-Depends: debhelper (>= 8.0.0), dh-python, python-all, python-setuptools
X-Python-Version: >= 2.7
Standards-Version: 3.9.3
Homepage: https://github.com/LucaFilipozzi/ud
Vcs-Git: git://github.com/LucaFilipozzi/ud.git
Vcs-Browser: https://github.com/LucaFilipozzi/ud

Package: ud
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, ca-certificates, debian-keyring,
 python-daemon, python-django, python-django-ldapdb, python-ipy, python-lockfile,
 python-m2crypto, python-mako, python-pycountry, python-pyme, python-pyparsing
Description: django-based reimplementation of Debian's userdir-ldap ud provides
 Debian System Administrators with utilities to manage User, Group, Host and
 Role entries in Debian's LDAP; and provides end users with the ability to
 manage their attributes (ud-mailgate).  ud marshalls LDAP data into the
 necessary files (ud-generate) that are pulled by machines (ud-replicate).
